body {
    background: #ddc;
    font-family: 'Lato', sans-serif;
}
button {
    margin: auto 1ex .5ex auto;
    padding: 0 1em;
    font-weight: bold;
    color: #333;
}
div.helpgroup  {
    z-index: 4;
    position: absolute;
    background: #eee;
    box-shadow: 1px 1px 20px black;
    margin: 2ex;
    visibility: hidden;
    bottom: 1ex;
}
div.helpgroup > .helpitem {
    float: left;
    font-size: 90%;
    margin-right: 1em;
    border-left: solid 3px #555;
    padding: 1ex;
}
.helpitem > h1 {
    font-size: 80%;
}

#sourcecode {
    position: absolute;
    top: 25ex;
    width: 700px;
    left: calc(50% - 365px);
    margin: 0;
    padding: .5em 1.5em;
}

#input_zone {
    width: 800px;
    margin-left: calc(50% - 400px);
}

#diagram {
    padding-left: calc(50% - 400px);
}
.transparent {
    opacity: 0.0 !important;
    transition-duration: 1s;
    transition-property: opacity;
}
#more_info {
    opacity: 1.0;
    transition-duration: 1s;
    position: absolute;
    width: 600px;
    top: 20%;
    left: calc(50% - 300px - 1em);
    background: #ddd;
    padding: 0 1em;
    border-radius: 5px;
}

tspan {
    cursor: pointer;
}
tspan:hover {
    fill: #fff !important;
}
