body {
    background: #ddc;
    font-family: 'Lato', sans-serif;
}
textarea {
    margin: 0 1ex;
    padding: 0;
    width: calc(100% - 2ex);
    font-size: 70%;
}
button {
    margin: .5ex 1ex .5ex .5ex;
    padding: 0 1em;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    border: solid 2px #555;
    background-color: #B9B9B9;
    cursor: pointer;
}
button:hover {
    background-color: #E0E0E0;
}
.but_ok {
    border-color: #549DB8;
}
.but_ko {
    border-color: #F289DD;
}
#value_popup {
    visibility: hidden;
    position: absolute;
    background: #bbb;
    color: #eee;
    width: 80%;
    max-width: 400px;
    padding: 1em;
    border-radius: 5px;
    margin-left: 35%;
    z-index: 10;
}
#option_argument {
    width: calc( 100% - 2ex);
    margin: .5ex 0;
    padding: 3px 1ex;
}
div.helpgroup  {
    display: block;
}
div.helpgroup > .helpitem {
    font-size: 90%;
    margin-right: 1em;
    border-left: solid 3px #555;
    padding: 1ex;
    color: #333;
}
.helpitem > h1 {
    font-size: 80%;
}

#sourcecode {
    position: absolute;
    top: 25ex;
    width: 700px;
    left: calc(50% - 365px);
    margin: 0;
    padding: .5em 1.5em;
}
.button_group {
    float: right;
}
.shadow {
    box-shadow: 0px 3px 6px 2px #333;
}
#input_zone {
    width: 800px;
    margin-left: calc(50% - 400px);
}
#diagram {
    padding-left: calc(50% - 400px);
}
.transparent {
    opacity: 0.0 !important;
    transition-duration: 1s;
    transition-property: opacity;
}
#more_info {
    opacity: 1.0;
    transition-duration: 1s;
    position: absolute;
    width: 600px;
    top: 20%;
    left: calc(50% - 300px - 1em);
    background: #ddd;
    padding: 0 1em;
    border-radius: 5px;
}
tspan {
    cursor: pointer;
}
tspan:hover {
    fill: #fff !important;
}
